Table {
    font-size: 16px;
    border-collapse: collapse;
}

Table tr th {
    font-size: 18px;
    font-weight: 600;
    height: 22px;
}

td, th {
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;

}



h2 {
    color: brown;

}